a.MuiTypography-root.MuiTypography-inherit.MuiLink-root.MuiLink-underlineHover.css-nrxgm2-MuiTypography-root-MuiLink-root {
  font-size: 0.75rem;
  color: white;
}

a.MuiTypography-root.MuiTypography-inherit.MuiLink-root.MuiLink-underlineHover.css-nrxgm2-MuiTypography-root-MuiLink-root:hover {
  color: antiquewhite;
}

li.MuiBreadcrumbs-separator.css-ny8lw7-MuiBreadcrumbs-separator {
  color: black;
}

p.MuiTypography-root.MuiTypography-body1.css-11g97u9-MuiTypography-root {
  font-size: 0.75rem;
}
